@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --Bright-orange: hsl(31, 77%, 52%);
   --Dark-cyan: hsl(184, 100%, 22%);
   --Very-dark-cyan: hsl(179, 100%, 13%);
   --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
   --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

body {
   font-size: 15px;
   font-family: 'Lexend Deca', sans-serif;
   background-color: var(--Very-light-gray-background-headings-buttons);
   display: grid;
   place-items: center;
   min-height: 100vh;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   border-radius: 0.5rem;
   max-width: 70%;
   overflow: hidden;
}

.card {
   padding: 2.5rem;
   overflow: hidden;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
}

.card-image {
   margin-bottom: 1rem;
}

.card h1 {
   color: var(--Very-light-gray-background-headings-buttons);
   font-family: 'Big Shoulders Display', cursive;
   text-transform: uppercase;
   font-size: 2.5rem;
   margin: 1.5rem 0;
}

.card p {
   color: var(--Transparent-white-paragraphs);
   line-height: 1.5;
}

.card button {
   background-color: var(--Very-light-gray-background-headings-buttons);
   border: none;
   border-radius: 2rem;
   padding: 0.75rem 1.5rem;
   margin-top: 3rem;
   max-width: 180px;
}

.card button:hover {
   background-color: transparent;
   color: var(--Very-light-gray-background-headings-buttons);
   border: 2px solid var(--Very-light-gray-background-headings-buttons);
}

.card-sedans {
   background-color: var(--Bright-orange);
}

.card-sedans button {
   color: var(--Bright-orange);
}

.card-sedans button:hover {
   color: var(--Very-light-gray-background-headings-buttons);
   background-color: var(--Bright-orange);
}

.card-suvs {
   background-color: var(--Dark-cyan);
}

.card-suvs button {
   color: var(--Dark-cyan);
}

.card-suvs button:hover {
   color: var(--Very-light-gray-background-headings-buttons);
   background-color: var(--Dark-cyan);
}

.card-luxury {
   background-color: var(--Very-dark-cyan);
}

.card-luxury button {
   color: var(--Very-dark-cyan);
}

.card-luxury button:hover {
   color: var(--Very-light-gray-background-headings-buttons);
   background-color: var(--Very-dark-cyan);
}

.card-image {
   background-size: contain;
   background-repeat: no-repeat;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
   .container {
      grid-template-columns: 1fr;
      max-width: 90%;
      margin: 4rem 1rem;
   }

   .card {
      grid-template-rows: 1fr;
   }
}